@import url('https://fonts.googleapis.com/css?family=Roboto:400');

html {
    font-size: 100%;
}

body {
    /* background: white; */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #000000;
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* font-sizes */
    
    /* Colors */
    --black: #141514;
    --white: #ffffff;
    --purple: #825be7;
    --LightGray: #67676d;
    --blue:#5bbfe7;
}

/* Section Colors */
.light {
    background-color: var(--white);
    color: var(--black);
}

.dark {
    background-color: var(--black);
    color: var(--white);
}

.pages{
    background-color: var(--LightGray);
    color: var(--white);    
}


/* Start Of Home Page */
/* Header */
 .logo img{
   width: 150px;
} 
header.home-header {
    color: var(--white);
    background-color: var(--black);
    /* background-image: url(Images/home.jpg); */
    background-size: 100% 100%;
    max-width: 100%;
    height: auto;
}

nav.head-navigation {
    backdrop-filter: blur(15px);
    top: 0;
    position: sticky;
    background-color: rgba(78, 78, 78, 0.6);
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
}

nav.head-navigation.logo {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}

nav.head-navigation ul {
    margin-left: auto;
}

nav.head-navigation ul li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 1rem;
}

nav.head-navigation ul li a {
    padding: .6em 0 .6em 0;
    text-decoration: none;
    border-bottom: 0;
    border-bottom: 2px solid transparent;
    transition: .3s;
    color: rgb(255, 255, 255);
}

nav.head-navigation ul li a:hover {
    text-decoration: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: .3s;
}

@media (max-width: 760px) {
    .header-container-title {
        text-align: center;
    }
}

.header-container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container-title {
    text-transform: uppercase;
    font-size: 6rem;
     text-shadow: 2px 2px 60px var(--purple); 
}

.header-container-subtitle {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 4rem;
}

.header-container-button {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: var(--purple);
    border: 2px solid var(--purple);
    padding: .6em 1.4em;
    transition: background-color ease-in-out .4s;
}

.header-container-button:hover {
    background-color: var(--white);
    color: var(--purple);
}

/* Header End */

/*About Us */
.about {
    width: 100%;
    min-height: 12vh;
    /* background-color:var() ;   */;
}

.section-heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 22px;
    color: #ffffff;
    letter-spacing: 1.5px;
}

.section-heading h1::after {
    content: "";
    height: 6px;
    /* width: px; */
    background-color: #ffffff;
    border-radius: 6px;
    position: relative;
    display: block;
    margin: auto;
}

.text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
}
.alien{
    background-color: #141514;
    display: flex;
}

.alien img{
height:50vh;
margin:50px auto;
}

.content{
    background-color: #141514;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0  12px 12px 0;
    color: #fff;
}
.content h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}
.content span{
    height: 0.5px;
    width: 80px;
    background: #ffffff;
    margin: 30px 0;
}
.content p{
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
    color:#ffffff
}

@media (max-width: 760px) {

    .text{
        grid-template-columns: 1fr;
        width: 100%;
        border-radius: none;
    }
  }

/* About Us End */
/* Media  */
.container{
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 25px  ;
  }
  
  .container .title{
    width:100%;
    display: flex;
    align-items: center;
     justify-content: center;  
    text-transform: uppercase;
    font-size: 22px;
    color: #ffffff;
    letter-spacing: 1.5px;
  }
  
  .container .title h1::after{
    content: "";
    height: 6px;
     width: 120px; 
    background-color: #ffffff;
    border-radius: 6px;
    position: relative;
    display: block;
    margin: auto;
  }
  
  
  .media-title{
  margin-bottom: 2rem;
  }
  .photo-gallery{
    display: flex;
    gap:20px
  }
  
  .column{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .photo img{ 
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
  }
  
  @media(max-width:760px){
    .photo-gallery{
      flex-direction: column;
    }
  }
/* End of Media */

/* Table Start */
table.upcoming-events-table {
    width: 100%;
    margin-bottom: 1rem;
    padding:30px;
  }
 
  .container-table .title-table{
   width:100%;
   display: flex;
   align-items: center;
    justify-content: center;  
   text-transform: uppercase;
   font-size: 22px;
   color: #ffffff;
   letter-spacing: 1.5px;
   padding:40px;
 }
 
 .container-table .title-table h1::after{
   content: "";
   height: 6px;
   width: 330px; 
   background-color: #ffffff;
   border-radius: 6px;
   position: relative;
   display: block;
   margin: auto;
 }
 
  table.upcoming-events-table th,
  table.upcoming-events-table td {
    background: rgba(255, 255, 255, 0.15);
    font-size: 1.4rem;
    text-align: left;
    padding: .8em;
  }
 
  table.upcoming-events-table tr:nth-of-type(odd) {
    background: rgba(254, 249, 249, 0.2);
    min-width: 100%;
  }
 
  @media (max-width: 760px) {
    .container-table .title-table h1::after{
        /* width: 270px; */
        text-align: center;
    }

    table.upcoming-events-table th,
    table.upcoming--table td {
      font-size: 1.1rem;
    }
  }
/* Table End */

/* Video Start  */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
  }
  
  .video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
/* Video End */
/* Footer Start */
.footer {
    padding: 40px 0;
    background-color: #141514;
    color: var(--white);
  }
  .footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #ffffff;
  }
  .footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid var(--white);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
  }
  .footer .social a:hover {
    opacity: 0.9;
  }
  .footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
  }
  .footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  .footer ul li {
    display: inline-block;
    padding: 0 15px;
  }
  .footer ul a:hover {
    opacity: 1;
  }
  .footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: var(--white);
  }
/* Footer End */


/* Page Navigation */
nav.page-navigation {
    backdrop-filter: blur(16px);
    top: 0;
    background-color: rgba(78, 78, 78, 0.6);
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
  }
 
  nav .page-navigation .site-logo {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
  }
 
  nav.page-navigation ul {
    margin-left: auto;
  }
 
  nav.page-navigation ul li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 1rem;
  }
 
  nav.page-navigation ul li a {
    padding: .6em 0 .6em 0;
    text-decoration: none;
    border-bottom: 0;
    transition: .3s;
    color: var(--white);
  }
 
  nav.page-navigation ul li a:hover {
    text-decoration: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: .2s;
  }

/* End Page Navigation */

/* Section Start */
section {
    padding: 4rem;
  }
 
  .section-header {
 
    margin-bottom: 2rem;
  }
 
  .section-header-title {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: .6rem;
  }
 
  .section-header-subtitle {
    text-transform: uppercase;
    font-size: 1.2rem;
  }
 
  @media (max-width: 600px) {
    section {
      padding: 1rem;
    }
  }
 
  /* End of sections */
 
  /* start of card  */
  .news-card-container {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
 
  .news-card {
    display: flex;
    flex-direction: column;
    color: var(--black);
    background-color: var(--white);
    border-radius: 2em;
    padding: 2em 2em;
    box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, .35), 0px 2px 2px 1px rgba(0, 0, 0, .35);
  }
 
  .news-card-image {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 2rem;
    border-radius: 2em;
  }
 
  .news-card-title {
    margin: 0 0 1rem 0;
  }
 
  .news-card-info {
    color: var(--black);
    margin-bottom: 5rem;
    max-height: 25ch;
    overflow: hidden;
  }
 
  .news-card-info::after {
    content: "...";
  }
 
  .news-card-button {
    width: fit-content;
    padding: 1em .8em;
    border: 1px solid var(--black);
    color: var(--black);
    display: block;
    margin-top: auto;
    transition: .4s;
    box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, 0.15), 0px 2px 2px 1px rgba(0, 0, 0, .15);
  }
 
  .news-card-button:hover {
    background: var(--purple);
    color: var(--black);
    transition: .4s;
  }
  /* End OF NewsCard */

  /* Sign Up */
  :root {
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
  }
 
  body {
    padding: 0;
    margin: 0;
    font-family: sans-serrif;
    font-weight: 500;
  }
 
  h1 {
    font-size: 2.25rem;
    font-weight: 700;
  }
 
  h2 {
    font-size: 3.5rem;
    font-weight: 700;
  }
 
  a {
    text-decoration: none;
    color: var(--primary-blue)
  }
 
  a:hover {
    text-decoration: underline;
  }
 
  .small {
    font-size: 80%;
    text-align: center;
  }
 
  .split-screen {
    display: flex;
    flex-direction: column;
    /* padding: 50px; */
  }
 
  .left {
    height: 400px;
    /* border-radius: 20px 0 0 20px; */
  }

 
  .left,
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .left {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('images/signup.jpg');
    background-size: 100% 100%;
    
  }
 
  .left .copy {
    color: white;
    text-align: center;
  }
 
  .left p {
    font-weight: 400;
  }
 
  .right .copy {
    color: black;
    text-align: center;
  }
 
  .right .copy p {
    margin: 1.5em 0;
    font-size: 0.875rem;
  }
 
  .right form {
    width: 328px;
  }
 
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875;
  }
 
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75;
  }
 
  .input-container.password {
    position: relative;
  }
 
  .input-container.password i {
    position: absolute;
    top: 42px;
    right: 16px;
  }
 
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
 
  .checkbox-container {
    display: block;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    user-select: none;
    margin: 0 0 1.25rem 0;
  }
 
  .checkbox-container input:checked~.checkmark {
    background-color: var(--primary-blue);
    border: 1px solid var(--primary-blue)
  }
 
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
 
  /* .checkbox-container input:checked~.checkmark:after {
    display: block;
  } */
 
  /* .checkbox-container .checkmark:after {
    border: solid white;
    border-width: 0 3px 3px 0;
    width: 5px;
    height: 10px;
    left: 8px;
    top: 4px;
    transform: rotate(45deg);
  } */
 
  .signup-btn {
    display: block;
    width: 100%;
    background: var(--purple);
    color: white;
    font-weight: 700;
    border: 1px solid ;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
 
  .signup-btn:hover {
    background: var(--purple);
    cursor: pointer;
  }
 
  @media screen and (min-width: 900px) {
    .split-screen {
      flex-direction: row;
      height: 100vh;
    }
    .left,
    .right {
      display: auto;
      width: 50%;
      height: auto;
    }
  }
  /* End Of Sign Up */
